<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe</title>
</head>
<body>
    <h1>Plans</h1>

    <h2>Starter</h2>
    <p><b>$20/month</b></p>
    <p>This is the starter plan</p>
    <a href="/api/v1/payment?plan=starter">Subcribe</a>
    
    <br><br><br>

    <h2>Pro</h2>
    <p><b>$40/month</b></p>
    <p>This is the pro plan</p>
    <a href="/api/v1/payment?plan=pro">Subcribe</a>
</body>
</html>